---
# Template configuration files for ansible-cmdb

- name: Set SELinux booleans
  seboolean:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    persistent: "{{ item.persistent | default('false') }}"
  loop: "{{ ansible-cmdb_selinux_booleans }}"
  when:
    - ansible_selinux.status == "enabled"
    - ansible-cmdb_enable_selinux
  become: true
